<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Видалення</th>
    </tr>
    </thead>
    <tbody>
{{# each users }}
    <tr>
        <td>{{ this.email }}</td>
        <td>
            <a href="/delete-user/{{this._id}}">
                <i class="fa fa-times" aria-hidden="true"></i> Видалити
            </a>
        </td>
    </tr>
{{/each}}
    </tbody>
</table>