<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

<h2>Список користувачів, що зробили замовлення на заявлену сумму</h2>
<form action="/admin/stats/userOrdersMoreThanN" method="get">
    <div class="form-group">
        <label for="title"> Сумма </label>
        <input id="title" name="n" type="text" class="form-control" aria-describedby="basic-addon1" value="{{n}}"
               style="width: 30%">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Знайти</button>
    </div>
</form>
<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Видалення</th>
    </tr>
    </thead>
    <tbody>
    {{# each data }}
        <tr>
            <td>{{ this.email }}</td>
            <td>
                <a href="/admin/delete-user/{{this._id}}">
                    <i class="fa fa-times" aria-hidden="true"></i> Видалити
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>